@charset "UTF-8";

.hide{width: 0; height: 0;
text-align: 0; position: absolute;
line-height: 0; display: none;}


body{}

#wrap{}

/* header */

#box01{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#box01>span{
    z-index: -100;
    width: 100vw; height: 90vh;
    position: absolute;
    left: 0; top: -5%;
    background: linear-gradient(black,transparent);
}

#box01>#show{
    width: 100vw;
    position: absolute;
    left: 0; top: -5%;
    z-index: -300;
}

#box01>#show>ul{
    display: flex;
    flex-wrap: nowrap;
    width: 10000px;
}

#box01>#show>ul>li{
    width: 1920px;
}

#box01>#show>ul>li>img{
    width: 100%;
}

/* h1 */
#box01>h1{
    margin: 0 auto;
    width: 200px;
    margin-top: 36px;
}

#box01>h1>a{}

#box01>h1>a>img{width: 100%;}

#box01>.nav{
    padding-top: 50px;
    margin: 0 auto;
    width: 1316px;
    display: flex; flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

#box01 .menu{
    font-size: 14px;
    display: flex;
}

#box01 .menu>li{
    cursor: pointer;
    font-weight: bold;
    position: relative;
    padding: 0 30px;
}

#box01 .menu>li>ul{
    display: none;
    position: absolute;
    left: 15px;
    width: 200px;
    padding-top: 15px;
}

#box01 .menu>li>ul>li{
    padding: 15px;
}

#box01 .menu>li>ul>li>a{
    color: white;
}

#box01 .menu>li:hover>ul{
    display: block;
}

#box01 .icon{
    display: flex;
    font-weight: lighter;
}

#box01 .icon>li{
    margin-right: 20px;
}


/* box02 */

#box02{
    background: url('../img/sale_main.jpg') no-repeat center center;
    background-size: cover;
}

#box02>div{
    background: linear-gradient(to top, black 20%, transparent) rgba(0, 0, 0, 0.4);
}

#box02>div>div{
    width: 1316px;
    padding: 183px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
}

/* left */

#box02 .saleLeft{
    display: flex;
}

#box02 .saleLeft>span{
    display: block;
    width: 325px; height: 325px;
    background: url('../img/Sale_left.png') no-repeat center left #fff;
    background-size: contain;
    margin-right: 18px;
}

#box02 .saleLeft>div{
    margin-right: 90px;
    color: white;
}

#box02 .saleLeft>div>small{
    font-size: 12px;
}

#box02 .saleLeft>div>h3{
    font-size: 36px;
    line-height: 45px;
    font-weight: bold;
}

#box02 .saleLeft>div>h3>i{
    font-style: normal;
    font-weight: bold;
    color: #e3ff46;
}

#box02 .saleLeft>div>p{
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 24px;
}

.saleLeft button{
    cursor: pointer;
    background-color: #e3ff46;
    padding: 0 18px;
    line-height: 35px;
}

/* right */

#box02 .saleRight{
    position: relative;
    display: flex;
}

.saleRight>span{
    position: absolute;
    display: block;
    width: 385px; height: 385px;
    background-color: aqua;
    background: url('../img/Sale_right.png') no-repeat center left;
    background-size: cover;
    position: relative;
}

.saleRight>dl{
    position: absolute;
    bottom: 140px; right: 0;
    z-index: 100;
    color: #000;
}

.saleRight>dl>dt{
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    background-color: #fff;
}

.saleRight>dl>dd{
    display: inline-block;
    padding: 5px;
    background-color: #e3ff46;
}

/*  */

#box03{
    margin: 130px 0 180px 0;
}

#box03>div{
    width: 1316px;
    display: flex;
    justify-content: right;
    margin: 0 auto;
}

#box03 .newsMain{
    padding-right: 70px;
}

#box03 .newsMain>h3{
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 13px;
}

#box03 .newsMain>p{
    font-size: 14px;
}

#box03 ul{
    padding-right: 26px;
    width: 340px;
}

#box03>div>.newsRight{
    margin: 170px 70px 0 0;
}

#box03 img{
    width: 100%;
    padding-bottom: 24px;
}

#box03 p{
    line-height: 24px;
    font-size: 16px;
    padding-bottom: 60px;
    color: black;
}

/* box04 */


#box04{
    background: url('../img/coffe_main.png') no-repeat center center;
    background-size: cover;
} 

#box04>div{
    width: 1316px;
    margin: 0 auto;
    padding: 115px 0 123px 48px;
} 

#box04>div>h3{
    font-size: 35px;
    line-height: 52px;
} 

#box04>div>h4{
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 23px;
} 

#box04>div>p{
    font-size: 14px;
    line-height: 26px;
} 



/* box05 */


#box05{}


#box05>div{
    margin: 0 auto;
    width: 1316px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}
#box05>div>figure{
    width: 740px;
    height: 740px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box05>div>figure>img{
    width: 100%;
    border-radius: 90px;
}

#box05 #show{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
}

#box05>div>div#show>ul#show>li{
    text-align: center;
    width: 200px;
}

#box05 dt{
    color: #000;
    margin-top: 18px;
    font-size: 16px;
    line-height: 22px;
}

#box05 dd{
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

#box05 dd:nth-child(3){
    color: #99b014;
}

#box05 button{
    margin: 8px 0 36px 0;
    font-size: 14px;
    line-height: 30px;
    width: 118px;
    background-color: #e3ff46;
}

#box05 ul>li>a>img{
    border: 1px solid #e3e3e3;
    width: 100%;
}

/* box06 */


#box06{
    background: url('../img/tost_main.png') no-repeat top center;
    background-size: cover;
} 

#box06>div{
    width: 1316px;
    margin: 0 auto;
    padding: 115px 0 123px 48px;
    color: #fff;
} 

#box06>div>h3{
    font-size: 35px;
    line-height: 52px;
} 

#box06>div>h4{
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 23px;
} 

#box06>div>p{
    font-size: 14px;
    line-height: 26px;
} 


/* box07 */



#box07{}


#box07>div{
    margin: 0 auto;
    width: 1316px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}
#box07>div>figure{
    width: 740px;
    height: 740px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box07>div>figure>img{
    width: 100%;
    border-radius: 90px;
}

#box07 #show{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
}

#box07>div>div#show>ul#show>li{
    text-align: center;
    width: 200px;
}

#box07 dt{
    color: #000;
    margin-top: 18px;
    font-size: 16px;
    line-height: 22px;
}

#box07 dd{
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

#box07 dd:nth-child(3){
    color: #99b014;
}

#box07 button{
    margin: 8px 0 36px 0;
    font-size: 14px;
    line-height: 30px;
    width: 118px;
    background-color: #e3ff46;
}

#box07 ul>li>a>img{
    border: 1px solid #e3e3e3;
    width: 100%;
}


/* box08 */


aside{
    background-color: #99b014;

}

aside>div{
    padding: 103px 0 61px 70px;
    width: 1316px;
    margin: 0 auto;
}

aside>div>h3{
    font-size: 34px;
    margin-bottom: 36px;
}

aside>div>h3>i{
    font-style: normal;
    font-weight: bolder;
}

aside>div>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

aside>div>div>span{
    margin: 0 45px 0 20px;
    display: block;
    width: 160px;
    height: 160px;
    background: url('../img/men.jpg');
    border-radius: 50%;
    border: #e3e3e3 10px solid;
}

aside>div>div>ul{
    width: 900px;
    font-size: 12px;
    line-height: 24px;
}

aside>div>div>ul>li:first-child{
    margin-bottom: 26px;
}

/* footer */

footer{
    color: white;
    background-color: #313131;
}

footer span{
    display: block;
    width: 130px;
    margin-bottom: 28px;
}

footer img{
    width: 100%;
}   

footer>div{
    width: 1317px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 58px 0 68px 0;
}

.footerLeft>ul{
    display: flex;
}

.footerLeft>ul>li{
    padding-right: 36px;
    margin-bottom: 22px;
}

.footerLeft p{
    color: #666;
    line-height: 24px;
}

.footerLeft>div{
    line-height: 24px;
    margin: 36px 0;
}

.footerLeft dl{
    color: #666;
}

.footerLeft dl>dd>a{
 color: #666;
}

.footerLeft dl:nth-child(2)>dt{
    float: left;
}

.footerLeft dl:nth-child(3)>dt{
    float: left;
}

.footerLeft dl:nth-child(3)>dd{
    float: left;
}

.footerLeft dl:nth-child(4){
    clear: both;
}

.footerLeft dl:nth-child(4)>dt{
    float: left;
}

.footerLeft dl:nth-child(4)>dd{
    float: left;
}


.footerLeft>small{
    color: #666;
    padding-top:20px;
    clear: both;
    display: block;
} 

.footerRight{
    margin-top: 20px;
}

.footerRight>.QA {
    display: flex;
    margin-bottom: 120px;
}

.footerRight>ul{
    display: flex;
} 

.footerRight>.QA>li{
    font-size: 18px;
    font-weight: bold;
    margin-right: 14px;
}

.footerRight>.icon>li{
    width: 35px;
    margin-right: 14px;
}

.footerRight>.icon>li>a>img{
    width: 100%;
}

.footerRight>.icon>li:last-child{
    margin-top: 5px;
}